In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2021-10-19 21:04:29,10.9995,122.6711,75.51,94,100,4.74
1,1,Busselton,AU,2021-10-19 21:04:30,-33.6500,115.3333,54.09,63,100,20.42
2,2,Ushuaia,AR,2021-10-19 21:02:13,-54.8000,-68.3000,55.78,69,100,9.40
3,3,Albany,US,2021-10-19 21:02:28,42.6001,-73.9662,63.45,52,13,1.99
4,4,Mataura,NZ,2021-10-19 21:04:30,-46.1927,168.8643,49.05,56,85,4.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Adjust Heatmap
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2021-10-19 21:04:29,10.9995,122.6711,75.51,94,100,4.74
7,7,Sao Filipe,CV,2021-10-19 21:04:31,14.8961,-24.4956,80.42,71,1,2.26
9,9,Pitimbu,BR,2021-10-19 21:04:31,-7.4706,-34.8086,81.19,80,61,12.57
11,11,Mataram,ID,2021-10-19 21:04:32,-8.5833,116.1167,77.81,86,100,7.54
14,14,Kahului,US,2021-10-19 21:04:33,20.8947,-156.4700,84.22,65,20,19.57
15,15,Acarau,BR,2021-10-19 21:04:33,-2.8856,-40.1200,80.58,79,27,15.77
17,17,Kaduqli,SD,2021-10-19 21:04:34,11.0167,29.7167,82.58,38,33,3.13
18,18,Buala,SB,2021-10-19 21:04:34,-8.1450,159.5921,82.11,74,99,2.44
19,19,Jati,PK,2021-10-19 21:04:34,24.3539,68.2671,77.20,65,0,9.04
21,21,Hithadhoo,MV,2021-10-19 21:04:35,-0.6000,73.0833,83.05,73,62,14.12

In [50]:
preferred_cities_df.count()

City_ID       180
City          180
Country       179
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [ ]:
bool_series = preferred_cities_df["Country"].isnull()
preferred_cities_df[bool_series]

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        
    print("Hotel not found... skipping.")

In [72]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Dingle,PH,75.51,10.9995,122.6711,SEGAYA PROPERTY
7,Sao Filipe,CV,80.42,14.8961,-24.4956,Hotel Xaguate
9,Pitimbu,BR,81.19,-7.4706,-34.8086,Reserva do Abiaí
11,Mataram,ID,77.81,-8.5833,116.1167,Hotel Santika Mataram
14,Kahului,US,84.22,20.8947,-156.4700,Maui Seaside Hotel
15,Acarau,BR,80.58,-2.8856,-40.1200,castelo pizzaria
17,Kaduqli,SD,82.58,11.0167,29.7167,فندق الله جابو
18,Buala,SB,82.11,-8.1450,159.5921,Maringe Lagoon Lodge
19,Jati,PK,77.20,24.3539,68.2671,Cafe Lala Rehan Restaurant
21,Hithadhoo,MV,83.05,-0.6000,73.0833,Scoop Guest House

In [74]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [77]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))